* {box-sizing: border-box}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 25px #ffffff, 0px 5px 10px #ffffff;
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
  text-align: center;
  color: white;
  background-color: black;
}

p {
  line-height: 1.5rem;
  font-size: 17px;
}

.container-sponsors {
  margin: 0%;
  display: block;
  padding: 10px;
  width: auto;
}

.copyright_logo {
  margin: 0%;
  display: block;
  background-image: url(/images/stars.jpg);
  opacity: 70%;
  padding: 10px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.team_column {
  float: left;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.team_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.client_column {
  float: left;
  flex: 25%;
  max-width: 75%;
  padding: 0 4px;
}

.client_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.banner {
  font-size: 45px;
  font-family: monospace;
  font-weight: bolder;

  background-size: cover;
  opacity: .75;
  background-position: 50% 50%;
  /* height: 600px; */
}

.bar {
  padding-top: 15px;
  z-index: 1;
  color:#fff!important;
  background-color:#000!important
}

.team_container {
  display: block;
  position: relative;
  padding: 10px;
  padding-top: 500px;
  width: auto;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.clients_container {
  display: block;
  position: relative;
  padding: 10px;
  padding-top: 10px;
  width: auto;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  display: block;
}

.tab-button, .bar {
  z-index: 2;
}

.bg {
  z-index: 0;
}

.overlay {
  position: relative;
  bottom: 35px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

/* CSS for slideshow on homepage */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 24px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*End of CSS for homepage slideshow*/


/*
###
#####################################################
# Everything below this is the meteor functionality #
#####################################################
###
*/
.nightsky{
  position: absolute;/* position: relative; */
  width: 100%;
  height: 100%;
  transform: rotateZ(40deg);
}

.star{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #FFFFFF, rgba(0, 0, 255, .5));
  border-radius: 999px;
  animation: tail 3s ease-in-out infinite,
             falling 3s ease-in-out infinite;
  z-index: -1;
}

@keyframes tail{
  0%{
    width: 0;
  }
  30%{
    width: 100px;
  }
  100%{
    width: 0;
  }
}

@keyframes falling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}

.star::before, .star::after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFFFFF, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining{
  0%{
    width: 0;
  }
  50%{
    width: 30px;
  }
  100%{
    width: 0;
  }
}

.star::after{
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1){
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FF0000, rgba(0, 0, 255, .5));
  filter: drop-shadow(0 0 6px #FF0000);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after{
  animation-delay: 1s;
}

.star:nth-child(2){
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, .5));
  filter: drop-shadow(0 0 6px #5F91FF);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after{
  animation-delay: 1.2s;
}

.star:nth-child(3){
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  filter: drop-shadow(0 0 6px #FFFFFF);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after{
  animation-delay: 1.4s;
}

.star:nth-child(4){
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #46eb8e, rgba(0, 0, 255, .5));
  filter: drop-shadow(0 0 6px #46eb8e);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after{
  animation-delay: 1.6s;
}

.star:nth-child(5){
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff954, rgba(0, 0, 255, .5));
  filter: drop-shadow(0 0 6px #fff954);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after{
  animation-delay: 1.8s;
}
